@model IEnumerable<CRM.Model.User>
@{
    ViewBag.Title = "Index";
}

<section class="wrapper">
    <!-- page start-->

    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading"> User List <span class="tools pull-right"> <a href="javascript:;" class="fa fa-chevron-down"></a> <a href="javascript:;" class="fa fa-cog"></a> <a href="javascript:;" class="fa fa-times"></a> </span> </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th class="hidden-phone">Date Created</th>
                                    <th class="hidden-phone">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in Model)
                               { 
                                <tr class="gradeX">
                                    <td>@Html.DisplayFor(modelitem => item.FirstName) @Html.DisplayFor(modelitem => item.LastName)</td> 
                                
                                    <td>@Html.DisplayFor(modelitem => item.Email)</td>
                               
                                 
                                    <td>@Html.DisplayFor(modelitem => item.DateCreate)</td>
                                    <td>@Html.DisplayFor(modelitem => item.role.Name)</td>
                                   
                                    <td class="center hidden-phone">@if (item.Status == true) { @Html.Raw("<button type='button' class='btn btn-primary'>Active</button>")}else{@Html.Raw("<button type='button' class='btn btn-danger'>Deactive</button>");}</td>
                                </tr>
                               }
                              


                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>
      


